body{
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
  margin-top: 5%;
}

li{
  list-style-type: none;
  width: 100%;
}

a{
    text-decoration: none;
    color: red;
    cursor: url('./img/cursor.png'), auto;
    display: block;
    text-align: center;
    line-height: 5vw;
    font-size: 4vw;
    width: 5vw;
    margin: auto;
    border-style: solid;
    border-width: .7vw;
    border-color: red;
    border-radius: 5vw;
    margin-top: 2vw;
}
