body{
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
}

.title1{
  position: fixed;
  margin-left: 355px;
  margin-top: -95px;
  width: 600px;
  height: 600px;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
  color: white;
  text-decoration: none;
}

@-moz-keyframes spin {
   100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
   100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
   100% { -webkit-transform: rotate(360deg);
   transform:rotate(360deg); }
}

.title2{
  position: fixed;
  margin-left: 1125px;
  margin-top: -95px;
  width: 600px;
  height: 600px;
  -webkit-animation:spin2 10s linear infinite;
  -moz-animation:spin2 10s linear infinite;
  animation:spin2 10s linear infinite;
  text-decoration: none;
}

@-moz-keyframes spin2 {
   100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin2 {
   100% { -webkit-transform: rotate(-360deg); }
}
@keyframes spin2 {
   100% { -webkit-transform: rotate(-360deg);
   transform:rotate(-360deg); }
}

.love{
    font-family: 'Bungee Outline', cursive;
    text-align: center;
    width: 1200px;
    font-size: 350px;
    margin: 0;
    margin-top: 200px;
    margin-left: 160px;
    letter-spacing: 130px;
    color: white;
    text-decoration: none;
}

.red{
    color:red;
}
